<div class="curtain">
  <div class="centertext">
    <p>SHREWD</p>
    

    <p class="centertext2">pixel</p>
  </div>
</div>

<div id="overlay">
<div class="spinner"></div> 
</div>

<script type="text/javascript">
  

var overlay = document.getElementById("overlay");

window.addEventListener('load', function(){
  overlay.style.display = 'none';
})


</script>