// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.curtain {
  position: absolute;
  background-image: url("/midmap.jpg");
  background-size: 200%;
    
    top: -13%;
    left: -13%;
    width: 125%;
    height: 125%;
   
    -webkit-animation:spincurt 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
    -moz-animation:spincurt 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
    animation:spincurt 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
}


@-webkit-keyframes spincurt {
  from {
    transform: rotate(320deg) scale3D(3, 3, 1); 
    transform-origin: 50% 50%;
  }
  to {
    transform: rotate(360deg) scale3D(1, 1, 1); 
    transform-origin: 50% 50%;
  }
}


@-webkit-keyframes scale {
  from {
    transform: scale3D(3.0, 3.0, 1) translateY(-500px);
    transform-origin: 50% 50%;

  }
  to {
    transform: scale3D(1, 1, 1) translateY(0px);
    transform-origin: 50% 50%;
  }
}
@-webkit-keyframes scale2 {
  0%   {transform: scale3D(3.0, 3.0, 1) translateY(500px); transform-origin: 50% 50%; opacity: 0;}
  60%  {transform: scale3D(3.0, 3.0, 1) translateY(500px); transform-origin: 50% 50%; opacity: 0;}
  100% {transform: scale3D(1, 1, 1) translateY(0px); transform-origin: 50% 50%; opacity: 1;}
}

@-webkit-keyframes Gradient {
  0% {
    filter: brightness(1);
        filter: contrast(1);
  }
  50% {
    filter: brightness(.5);
        filter: contrast(.5);
  }
  100% {
    filter: brightness(1);
        filter: contrast(1);
  }
}

@-webkit-keyframes Gradient2 {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(.9);
  }
  100% {
    filter: brightness(1);
  }
}

@-webkit-keyframes textshadow {
  0% {
    text-shadow: 8px 3px 6px rgba(45, 45, 0, 0.60);
    filter: brightness (1);
    filter: contrast(1);
  }
  50% {
    text-shadow: 1px -3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.6);
    filter: brightness (.5);
  }
  100% {
    text-shadow: 8px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(1);
    filter: brightness (1);
  }
}

@-webkit-keyframes textshadow7 {
  0% {
    text-shadow: 7px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
  50% {
    text-shadow: 1px -3px 6px rgba(45, 45, 0, 0.60);
    filter: brightness(.9);
  }
  100% {
    text-shadow: 7px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
}

@-webkit-keyframes textshadow6 {
  0% {
    text-shadow: 6px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
  50% {
    text-shadow: 1px -3px 6px rgba(45, 45, 0, 0.60);
    filter: brightness(.9);
  }
  100% {
    text-shadow: 6px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
}

@-webkit-keyframes textshadow5 {
  0% {
    text-shadow: 5px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
  50% {
    text-shadow: 1px -3px 6px rgba(45, 45, 0, 0.60);
    filter: brightness(.9);
  }
  100% {
    text-shadow: 5px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
}

@-webkit-keyframes textshadow4 {
  0% {
    text-shadow: 4px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
  50% {
    text-shadow: 1px -3px 6px rgba(45, 45, 0, 0.60);
    filter: brightness(.9);
  }
  100% {
    text-shadow: 4px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
}

@-webkit-keyframes textshadow3 {
  0% {
    text-shadow: 3px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
  50% {
    text-shadow: 1px -3px 6px rgba(45, 45, 0, 0.60);
    filter: brightness(.9);
  }
  100% {
    text-shadow: 3px 3px 6px rgba(45, 45, 0, 0.60);
    filter: contrast(.7);
  }
}



.sky {
  background-color: black;
}


.flicker {
  -webkit-animation: Gradient 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
}

.flicks {
  -webkit-animation: Gradient2 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
}

.textshadowflicks {
  -webkit-animation: textshadow 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
  padding: 0px;
  margin: 0px;
  font-size: 1200%;
  margin: .4em;
  text-shadow: 8px 3px 6px rgba(204, 147, 117, 0.79);
}

.centertext {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; 
  
  padding: 0px;
  margin: 0px;
  font-family: 'Bitter', serif;
}

.centertext1 {
  animation:scale 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
}

.centertext2 {
  animation:scale2 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
}

@media only screen and (max-width: 1620px) {
    .centertext1, .centertext2 {
      text-shadow: 7px 3px 6px rgba(204, 147, 117, 0.79);
    }
    .textshadowflicks {
      -webkit-animation: textshadow7 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
      font-size: 900%;
    }
}

@media only screen and (max-width: 1220px) {
    .centertext1, .centertext2 {
        text-shadow: 6px 3px 6px rgba(204, 147, 117, 0.79);
    }
    .textshadowflicks {
      -webkit-animation: textshadow6 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
      font-size: 700%;
    }
}


@media only screen and (max-width: 850px) {
    .centertext1, .centertext2 {
        text-shadow: 5px 3px 6px rgba(204, 147, 117, 0.79);
    }
    .textshadowflicks {
      -webkit-animation: textshadow5 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
      font-size: 500%;
    }
}

@media only screen and (max-width: 500px) {
    .centertext1, .centertext2 {
        text-shadow: 4px 3px 6px rgba(204, 147, 117, 0.79);
    }
    .textshadowflicks {
      -webkit-animation: textshadow4 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
      font-size: 400%;
    }
}

@media only screen and (max-width: 400px) {
    .centertext1, .centertext2 {
        text-shadow: 3px 3px 6px rgba(204, 147, 117, 0.79);
    }
    .textshadowflicks {
      -webkit-animation: textshadow3 3s cubic-bezier(.46,3.05,.79,-3.12) infinite;
      font-size: 300%;
    }
}

body{
    width: 100%;
  
    overflow-x: hidden;
    overflow-y: hidden;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.backflow {
  background: 
radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%);
background-color:#b03;
background-size:100px 100px;
  animation: Bakflow 15s ease infinite;
}
@keyframes Bakflow {
  0% {

    background-position: 0% 0%
  }
  50% {

    background-position: 600% 600%
  }
  100% {

    background-position: 0% 0%
  }
}

.hidden {
  display: none;
}











