// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.curtain {
  position: absolute;
  background-image: url("/midmap.jpg");
  background-size: 200%;
    background-color: #fefbd8;
    top: -13%;
    left: -13%;
    width: 125%;
    height: 125%;
   
    -webkit-animation:spincurt 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
    -moz-animation:spincurt 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
    animation:spincurt 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
}


@-webkit-keyframes spincurt {
  from {
    transform: rotate(320deg) scale3D(3, 3, 1); 
    transform-origin: 50% 50%;
  }
  to {
    transform: rotate(360deg) scale3D(1, 1, 1); 
    transform-origin: 50% 50%;
  }
}


@-webkit-keyframes scale {
  from {
    transform: scale3D(3.0, 3.0, 1) translateY(-500px);
    transform-origin: 50% 50%;

  }
  to {
    transform: scale3D(1, 1, 1) translateY(0px);
    transform-origin: 50% 50%;
  }
}
@-webkit-keyframes scale2 {
  0%   {transform: scale3D(3.0, 3.0, 1) translateY(500px); transform-origin: 50% 50%; opacity: 0;}
  60%  {transform: scale3D(3.0, 3.0, 1) translateY(500px); transform-origin: 50% 50%; opacity: 0;}
  100% {transform: scale3D(1, 1, 1) translateY(0px); transform-origin: 50% 50%; opacity: 1;}
}

.centertext {
  background:rgba(0, 0, 0, 0.0);
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; 
  
  padding: 0px;
  margin: 0px;
  font-family: 'Bitter', serif;
}

.centertext1 {
  animation:scale 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  padding: 0px;
  margin: 0px;
  font-size: 1200%;
  margin: .4em;
  text-shadow: 5px 3px 6px rgba(204, 147, 117, 0.89);
  
}


.centertext2 {
  animation:scale2 7s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
  padding: 0px;
  margin: 0px;
  font-size: 1200%;
  margin: .4em;
  text-shadow: 8px 3px 6px rgba(204, 147, 117, 0.79);
}




body{
    width: 100%;
  
    overflow-x: hidden;
    overflow-y: hidden;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

@media only screen and (max-width: 1620px) {
    .centertext1, .centertext2 {
        font-size: 900%;
    }
}

@media only screen and (max-width: 1220px) {
    .centertext1, .centertext2 {
        font-size: 700%;
    }
}


@media only screen and (max-width: 715px) {
    .centertext1, .centertext2 {
        font-size: 500%;
    }
}

@media only screen and (max-width: 500px) {
    .centertext1, .centertext2 {
        font-size: 400%;
    }
}

@media only screen and (max-width: 400px) {
    .centertext1, .centertext2 {
        font-size: 300%;
    }
}












